<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <app-logo></app-logo>
    <h2>Welcome to Marketeers</h2>
    <p>Be a Market Warrior!</p>
  </ion-slide>
  <ion-slide>
    <img
      src="../../../assets/images/slideSecond.svg"
      alt="Start to Be a Warrior"
      class="welcomeImage"
    />
    <h3>We provide items as much as we can</h3>
  </ion-slide>
  <ion-slide>
    <img
      src="../../../assets/images/startapp.svg"
      alt="Start to Be a Warrior"
      class="welcomeImage"
    />
    <h3>Happy Shopping and Buying</h3>
  </ion-slide>
</ion-slides>
